@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

// colors
$blue: #0c2d4b;
$green: #62ee81;

// max card image size
$card-image-size: 220px;

// font
$h3-size: 1.6rem;

$card-margin: .4rem;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rating {
  position: absolute;
  z-index: 99;
  top: 3px;
  left: 3px;
  padding: 0.2rem;
  font-weight: 700;
  border-radius: 2px;
  font-size: 0.8rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: black;
}

@mixin buttonStyling {
  margin-top: 2rem;
  cursor: pointer;
  background: $green;
  color: $blue;
  border: none;
  border-radius: 2px;
  padding: 0.3rem 0;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
}
