@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../../sun-tornado.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.nav--container {
  width: 100%;

  .burger--menu {
    display: none;
  }

  nav {
    max-width: 1400px;
    margin: auto;
    color: $green;
    text-align: center;

    h1 {
      margin: 1rem 0 0.5rem 0;
      font-size: 2rem;
    }

    ul {
      width: 100%;
      @include flexCenter;
      list-style: none;
      padding: 0.5rem 0 1rem 0;
      border-bottom: 2px solid $green;

      li {
        margin: 0 0.5rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.3rem 0.5rem;
        border-radius: 3px;
        transition: background 300ms ease;

        &:hover {
          background: #193855;
        }
      }
    }
  }
}

// removes the weird space at the bottom of the cards
a {
  &.link {
    display: flex;
    // outline: 1px solid red;
  }
}

.card--container {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 3rem;

  .card--section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    width: 100%;

    .movie--card {
      margin: 0.5rem;
      position: relative;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      overflow: hidden;

      &:hover .text--container {
        transform: translateY(0);
      }

      img {
        display: block;
        max-width: 220px;
        height: 100%;
      }

      .rating {
        position: absolute;
        z-index: 99;
        top: 3px;
        left: 3px;
        padding: 0.2rem;
        font-weight: 700;
        border-radius: 2px;
        font-size: 0.8rem;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        color: black;
      }

      .text--container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transform: translateY(100%);
        position: absolute;
        bottom: 0;
        z-index: 5;
        padding: 1rem;
        background: rgb(38, 128, 213);
        background: linear-gradient(
          180deg,
          rgba(38, 128, 213, 0.09) 0%,
          rgba(14, 51, 86, 1) 85%
        );
        color: white;
        height: 100%;
        transition: transform 500ms ease-in-out;

        h2 {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.8rem;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
        }

        &:hover {
          transform: translateY(0%);
        }
      }
    }
  }
}

// .footer {
//   padding: 1rem;
//   max-width: 1400px;
//   margin: auto;
//   // margin-top: auto;
//   // position: absolute;
//   // bottom: 0;
//   // width: 100%;
//   min-height: 200px;
//   background: $blue;
//   color: white;
// }

.home--container {
  padding: 1rem;
  max-width: 1400px;
  margin: auto;
  height: 80vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: repeat(2, 1fr);
  grid:
    "one one two three"
    "four five five three";
  color: white;

  .one {
    position: relative;
    overflow: hidden;
    grid-area: one;
    // background: rgb(141, 92, 0);
    border: 1px solid white;

    .overlay {
      position: absolute;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .two {
    position: relative;
    grid-area: two;
    border: 1px solid gray;

    .overlay {
      position: absolute;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .three {
    grid-area: three;
    border: 1px solid purple;
  }

  .four {
    grid-area: four;
    border: 1px solid red;
  }

  .five {
    grid-area: five;
    border: 1px solid lightblue;
  }
}

.moviepage--container {
  max-width: 1400px;
  margin: auto;
  color: white;
  margin-top: 2rem;
  // border: 1px solid red;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 1rem;

  .moviepage--section {
    position: relative;
    width: 100%;
    // border: 1px solid white;
    // max-height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img text";
    // flex-wrap: wrap;

    .movie--info {
      // border: 1px solid red;
      border-radius: 0 5px 5px 0;
      padding: 1rem;
      background: $green;
      color: $blue;
      grid-area: text;
      // border: 1px solid red;
      max-width: 70%;

      .title {
      }

      .overview {
      }

      .release--date {
        // border: 1px solid red;
        // display:
        margin: 0.2rem 0;
        font-weight: 600;
      }

      .rating--section {
        background: $blue;
        color: white;
        display: inline-flex;
        align-items: center;
        border-radius: 3px;
        margin-top: 0.5rem;
        padding: 0.2rem 0.6rem;

        .neutral,
        .fire,
        .poo,
        .recommended {
          // border: 1px solid red;
          margin: 0.2rem 0.5rem 0.2rem 0;
          font-size: 1.4rem;
          // margin-right: 0.5rem;
        }
      }
    }

    img {
      grid-area: img;
      // position: absolute;
      // max-width: 400px;
      max-width: 30%;
      // height: 100%;
      // border: 1px solid red;
      border-radius: 5px 0 0 5px;
    }
  }

  // .recommendations--container {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   border: 1px solid red;
  //   flex-wrap: wrap;

  //   .movie--card {
  //     //  display: flex;
  //     margin: 1rem;
  //     max-width: 200px;
  //     border: 1px solid red;

  //     img {
  //       max-width: 200px;
  //     }
  //   }
  // }
}

.search--container {
  border: 1px solid red;
  max-width: 1400px;
  margin: auto;

  .input--container {
    position: relative;
    // border: 1px solid white;

    .search--icon {
      opacity: .4;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      color: $blue;
      font-size: 1.4rem;
    }

    .search--bar {
      // border: 1px solid red;
      border-radius: 15px;
      padding: 0.2rem 0 0.2rem 2rem;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 797px) {
  nav {
    display: flex;
    align-items: center;

    h1 {
      text-align: left;
      margin: 0.5rem 0 !important;
      padding: 0 0 0 2rem;
    }

    .burger--menu {
      display: inline !important;
      font-size: 2rem;
      margin-left: auto;
      margin-right: 2rem;
    }

    .overlay {
      position: fixed;
      top: 0;
      z-index: 999;
      background: rgba(0, 0, 0, 0.5);
      min-height: 100vh;
      width: 100%;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: -240px;
      z-index: 9999999;
      border-radius: 10px;
      background: $blue;
      text-align: start;
      display: block !important;
      width: 220px !important;
      min-height: 100%;
      box-shadow: 5px 0 30px rgba(0, 0, 0, 0.7);
      transition: left 400ms ease;

      &.move {
        left: 0;
      }

      li {
        background: #183857;
        margin: 1rem 0.8rem !important;
        padding: 0.5rem 0 0.5rem 1rem !important;
      }
    }
  }

  .trending--container {
    .trending--section {
      .movie--card {
        .text--container {
          display: none;
        }
      }
    }
  }

  .moviepage--container {
    // margin-top: 2rem;
    margin: 2rem 1rem 0 1rem;
    // border: 1px solid red;
    padding: 0;

    .moviepage--section {
      // border: 1px solid red;
      margin: auto;
      // display: grid;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "img"
        "text";

      .movie--info {
        // overflow-y: scroll;
        // font-size: .8rem;
        border: 1px solid red;
        // padding-right: 1rem;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        grid-area: text;
        max-width: 500px;
        border-radius: 0 0 5px 5px;
        margin-bottom: 2rem;
        padding: 1rem;

        .overview {
          // padding: 0 1rem;
        }

        .rating--section {
          // display: inline;
          border: 1px solid red;
        }
      }

      img {
        border-radius: 5px 5px 0 0;
        grid-area: img;
        // border: 1px solid white;
        max-width: 500px;
        // margin: 0;
        float: right;
      }
    }
  }
}
