@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../../sun-tornado.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.nav--container {
  width: 100%;
}

.nav--container .burger--menu {
  display: none;
}

.nav--container nav {
  max-width: 1400px;
  margin: auto;
  color: #62ee81;
  text-align: center;
}

.nav--container nav h1 {
  margin: 1rem 0 0.5rem 0;
  font-size: 2rem;
}

.nav--container nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0.5rem 0 1rem 0;
  border-bottom: 2px solid #62ee81;
}

.nav--container nav ul li {
  margin: 0 0.5rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
}

.nav--container nav ul li:hover {
  background: #193855;
}

a.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending--container {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 3rem;
}

.trending--container .trending--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0 0 0;
  width: 100%;
}

.trending--container .trending--section .movie--card {
  margin: 0.5rem;
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.trending--container .trending--section .movie--card:hover .text--container {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.trending--container .trending--section .movie--card img {
  display: block;
  max-width: 220px;
  height: 100%;
}

.trending--container .trending--section .movie--card .rating {
  position: absolute;
  z-index: 99;
  top: 3px;
  left: 3px;
  padding: 0.2rem;
  font-weight: 700;
  border-radius: 2px;
  font-size: 0.8rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: black;
}

.trending--container .trending--section .movie--card .text--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  bottom: 0;
  z-index: 5;
  padding: 1rem;
  background: #2680d5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 128, 213, 0.09)), color-stop(85%, #0e3356));
  background: linear-gradient(180deg, rgba(38, 128, 213, 0.09) 0%, #0e3356 85%);
  color: white;
  height: 100%;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.trending--container .trending--section .movie--card .text--container h2 {
  font-size: 1.3rem;
}

.trending--container .trending--section .movie--card .text--container p {
  font-size: 0.8rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.trending--container .trending--section .movie--card .text--container:hover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.moviepage--container {
  max-width: 1400px;
  margin: auto;
  color: white;
}

.moviepage--container .moviepage--section {
  position: relative;
  width: 100%;
  border: 1px solid white;
}

.moviepage--container .moviepage--section .movie--info {
  border: 1px solid red;
  padding: 1rem;
}

.moviepage--container .moviepage--section img {
  max-width: 400px;
  border-radius: 5px;
}

@media (max-width: 797px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav h1 {
    text-align: left;
    margin: 0.5rem 0 !important;
    padding: 0 0 0 2rem;
  }
  nav .burger--menu {
    display: inline !important;
    font-size: 2rem;
    margin-left: auto;
    margin-right: 2rem;
  }
  nav .overlay {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    width: 100%;
  }
  nav .sidebar {
    position: fixed;
    top: 0;
    left: -240px;
    z-index: 9999999;
    border-radius: 10px;
    background: #0e3356;
    text-align: start;
    display: block !important;
    width: 220px !important;
    min-height: 100%;
    -webkit-box-shadow: 5px 0 30px rgba(0, 0, 0, 0.7);
            box-shadow: 5px 0 30px rgba(0, 0, 0, 0.7);
    -webkit-transition: left 400ms ease;
    transition: left 400ms ease;
  }
  nav .sidebar.move {
    left: 0;
  }
  nav .sidebar li {
    background: #183857;
    margin: 1rem 0.8rem !important;
    padding: 0.5rem 0 0.5rem 1rem !important;
  }
}
/*# sourceMappingURL=style.css.map */