@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../../sun-tornado3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.nav--container {
  width: 100%;

  .burger--menu {
    display: none;
  }

  nav {
    max-width: 1400px;
    margin: auto;
    color: $green;
    text-align: center;

    h1 {
      margin: 1rem 0 0.5rem 0;
      font-size: 2rem;
    }

    ul {
      width: 100%;
      @include flexCenter;
      list-style: none;
      padding: 0.5rem 0 1rem 0;
      border-bottom: 2px solid $green;

      li {
        margin: 0 0.5rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.3rem 0.5rem;
        border-radius: 3px;
        transition: background 300ms ease;

        &:hover {
          background: $green;
          color: $blue;
        }
      }
    }
  }
}

// removes the weird space at the bottom of the cards
a {
  &.link {
    display: flex;
  }
}

.nyt--h1 {
  max-width: 1400px;
  margin: 1rem auto 0 auto;
  text-align: center;
  color: white;
}

.card--container {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 3rem;

  .results {
    font-size: 1.6rem;
    color: white;
  }

  .searchbar--container {
    position: relative;
    // width: 40%;
    max-width: 600px;
    // border: 1px solid red;
    padding: 0 2rem;
    margin: 1rem auto 0 auto;

    .search--icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 38px;
      transform: translateY(-50%);
      color: gray;
      font-size: 1.2rem;
    }

    .search--bar {
      width: 100%;
      border-radius: 15px;
      padding: 0.2rem 0 0.2rem 2.2rem;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .top--h2 {
    color: white;
    text-align: center;
    margin: 1.2rem 0 0 0;
  }

  .card--section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    width: 100%;

    .spinner {
      margin-top: 5rem;
    }

    .search--svg {
      // border: 1px solid red;
      width: 100%;
      max-width: 800px;
    }

    .search--h2 {
      color: white;
      border: 1px solid red;
    }

    .nothing--found {
      color: rgb(255, 64, 64);
      font-size: 2.5rem;
    }

    .movie--card {
      // border: 1px solid red;
      @include flexCenter;
      margin: $card-margin;
      position: relative;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      // width: $card-image-size;
      width: $card-image-size;

      &:hover .text--container {
        transform: translateY(0);
      }

      img {
        display: block;
        max-width: $card-image-size;
        height: 100%;
        // border: 1px solid blue;
      }

      .rating {
        @include rating;
      }

      .text--container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transform: translateY(100%);
        position: absolute;
        bottom: 0;
        z-index: 5;
        padding: 1rem;
        background: rgb(38, 128, 213);
        background: linear-gradient(
          180deg,
          rgba(38, 128, 213, 0.09) 0%,
          rgba(14, 51, 86, 1) 85%
        );
        color: white;
        height: 100%;
        transition: transform 500ms ease-in-out;

        h2 {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.8rem;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }

        &:hover {
          transform: translateY(0%);
        }
      }
    }
  }
}

.home--container {
  padding: 1rem;
  max-width: 1400px;
  margin: auto;
  height: 80vh;
  display: grid;
  grid-gap: 10px;
  color: white;
  display: flex;
  // @include flexCenter;
  justify-content: center;
  flex-wrap: wrap;

  .news--card {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    background: $blue;
    position: relative;

    img {
      width: 100%;
    }

    .text--container {
      padding: 1rem;

      a {
        // text-decoration: none;
        color: $green;
      }
    }
  }
}

.moviepage--container {
  max-width: 1400px;
  margin: auto;
  color: white;
  margin-top: 2rem;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    @include buttonStyling;
  }

  .cast--h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: $h3-size;
  }

  .cast--cards__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .cast--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: $card-margin;
      height: 100%;
      width: $card-image-size;
      overflow: hidden;

      img {
        // width: 200px;
        // width: 100%;
        max-width: $card-image-size;
        border-radius: 3px;
        height: 100%;
      }

      .card--text {
        margin-top: 0.5rem;
        text-align: center;
        max-width: 100%;
        font-size: 0.9rem;
      }
    }
  }

  .moviepage--section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img text";

    .movie--info {
      border-radius: 0 5px 5px 0;
      padding: 1rem;
      // border: 1px solid red;
      background: $green;
      color: $blue;
      grid-area: text;
      max-width: 70%;

      .title {
        font-size: 1.75rem;
      }

      .genres--container {
        display: flex;

        .genre--name {
          font-size: 0.9rem;
          margin: 0.4rem 0.5rem 0.4rem 0;
          border-radius: 5px;
          color: white;
          background: $blue;
          padding: 0.2rem 0.5rem;
        }
      }

      .release--date {
        margin: 0.2rem 0;
        font-weight: 600;
      }

      .rating--section {
        background: $blue;
        color: white;
        display: inline-flex;
        align-items: center;
        border-radius: 3px;
        margin-top: 0.5rem;
        padding: 0.2rem 0.6rem;
        font-size: 0.9rem;

        .neutral,
        .fire,
        .poo {
          margin: 0.2rem 0.5rem 0.2rem 0;
          // font-size: 1.4rem;
        }

        .recommended {
          font-size: 0.9rem;
        }
      }
    }

    img {
      // grid-area: img;
      max-width: 25%;
      border-radius: 5px 0 0 5px;
    }
  }

  .recommendations--section {
    @include flexCenter;
    flex-wrap: wrap;
    margin: 2rem 0;
    flex-direction: column;

    h3 {
      border-top: 1px solid $green;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      font-size: $h3-size;
    }

    .recommendation--cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      img {
        width: 100%;
        max-width: 600px;
        border-radius: 3px;
        height: 100%;
      }

      .moviepage--card {
        @include flexCenter;
        width: $card-image-size;
        text-align: center;
        flex-direction: column;
        margin: $card-margin;
        position: relative;

        .card--text {
          width: 100%;

          .rating {
            @include rating;
          }
        }

        img {
          width: 100%;
          max-width: $card-image-size;
        }
      }
    }

    button {
      @include buttonStyling;
    }
  }
}

.error--container {
  min-height: 85vh;
  max-width: 1400px;
  margin: auto;

  img {
    max-width: 700px;
    // margin: auto;
    // @include flexCenter;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 797px) {
  nav {
    display: flex;
    align-items: center;

    h1 {
      text-align: left;
      margin: 0.5rem 0 !important;
      padding: 0 0 0 2rem;
    }

    .burger--menu {
      display: inline !important;
      font-size: 2rem;
      margin-left: auto;
      margin-right: 2rem;
    }

    .overlay {
      position: fixed;
      top: 0;
      z-index: 999;
      background: rgba(0, 0, 0, 0.5);
      min-height: 100vh;
      width: 100%;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: -240px;
      z-index: 9999999;
      border-radius: 10px;
      background: $blue;
      text-align: start;
      display: block !important;
      width: 220px !important;
      min-height: 100%;
      box-shadow: 5px 0 30px rgba(0, 0, 0, 0.7);
      transition: left 400ms ease;

      &.move {
        left: 0;
      }

      li {
        background: #183857;
        margin: 1rem 0.8rem !important;
        padding: 0.5rem 0 0.5rem 1rem !important;
      }
    }
  }

  .card--container {
    .card--section {
      .movie--card {
        .text--container {
          display: none;
        }
      }
    }
  }

  .moviepage--container {
    margin: 2rem 1rem 0 1rem;
    padding: 0;

    .moviepage--section {
      margin: auto;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "img"
        "text";

      .movie--info {
        font-size: 0.9rem;
        // border: 1px solid red;
        grid-area: text;
        max-width: 80%;
        border-radius: 0 0 5px 5px;
        margin-bottom: 2rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      img {
        border-radius: 5px 5px 0 0;
        grid-area: img;
        max-width: 80%;
        float: right;
      }
    }
  }
}
